head,body {

    font-family: 'Roboto';
    text-transform: capitalize;
  
}



.link {
    
    padding-top: 2%;
    background-color: blue;
    height: 50px;
    text-align: right;
    padding-right: 2%;
    color: white;
}

.home,.aboutus,.contactus{
    color: white;
    margin: 5px;
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: right;
    background-color: blue;
    padding: 30px;
}

main{

    overflow-y: auto;
    height: 100px;
    margin: 0 auto;
    padding: 30px 20px;
    min-height: calc(100vh - 79px - 174px);
}
footer{


    text-align: left;
    background-color: blue;
    padding: 30px;
}
.footerlink{
    flex-direction: column;
    color: white;
}
#home,#aboutus,#contactus{
    color: white;
    padding-left: 100px;
}
#mail,#mob{
    color: white;
    text-align: center;
   
}
#envelope{
    font-size: 30px;
    color: white;
    padding-left: 49%;
}
#text{
    width: 600px;
    padding-left: 100px;
}
#about{
    padding-left: 100px;
}
#img{
    padding-right: 100px;
  padding-top: 30px;
 
}